<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"  xmlns:th="http://www.thymeleaf.org" >

<head>
<meta charset="UTF-8">
<title>TANIE-DAILY.PL - Ogłoszenia motoryzacyjne</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
   	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome-iconpicker/3.2.0/js/fontawesome-iconpicker.min.js">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome-iconpicker/3.2.0/css/fontawesome-iconpicker.css">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome-iconpicker/3.2.0/css/fontawesome-iconpicker.min.css">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome-iconpicker/3.2.0/js/fontawesome-iconpicker.js">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="bootstrap/css/_glyphicons.css"> 
  <script
  src="https://code.jquery.com/jquery-2.1.0.js"
  integrity="sha256-D6d1KSapXjq2tfZ6Ie9AYozkRHyB3fT2ys9mO2+4Wvc="
  crossorigin="anonymous"></script>
<script th:src="@{~/jQuery/jquery-main.js}"></script>

  <link rel="stylesheet" id="ao_optimized_gfonts" href="https://fonts.googleapis.com/css?family=Work+Sans">
  <link rel="stylesheet" th:href="@{~/css/style.css}">

</head>	

<script>

function map()
{
var string = document.getElementById("miasto").innerText;
if(string!=null)
	{
	
			
		string = string.replace(/,/g,"+");
		string = string.replace(/ /g,"");
		var source = 'https://www.google.com/maps/embed/v1/place?key=AIzaSyACSYXNwLL2yMS7NCUdMGPy5A8iY22Dsjk&zoom=10&q=' + string;  
		$("#mapeczka").attr('src',source);
		$("#mapeczka2").attr('src',source);

	}

}
</script>
<body onload="map();">
<nav class="navbar navbar-expand-lg mx-auto fixed-top " id="naglowek">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"> <i class="fa fa-navicon" style="color:#142355; font-size:28px;"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="basicExampleNav">
<a th:href="@{/}"><button class="btn ml-0 logo-button"  id="dodaj">tanie-daily.pl</button></a>
	<ul class="navbar-nav mr-auto mx-auto">
	  
	<a th:href="@{/samochody}"><li class="btn nav-item text-center type-button" value="car"><i class="fa fa-car"></i><br>
        Samochody
      </li>
      </a>
      	<a th:href="@{/motocykle}"><li class=" btn nav-item text-center type-button" value="moto"><i class="fa fa-motorcycle"></i><br>
        Motocykle
      </li>
      </a>
          <a th:href="@{/czesci}"><li value="parts" class="btn nav-item type-button text-center"><i class="fa fa-cogs"></i><br>
        Części
      </li>
      </a>
      
      </ul>
      
      	  <a th:href="@{/o-mnie}"><li value="omnie" class="btn nav-item type-button mr-3"><i class="fa fa-user"></i><br>
        O mnie
      </li>
      </a>
      
      <a th:href="@{/nowe-ogloszenie}"><button class="btn mr-0 add-advertisement-button"  id="dodaj"><i class="fa fa-plus"></i>&nbsp;&nbsp;Dodaj ogłoszenie</button></a>

</div>
</nav>




</div>

<div class="container-fluid" style="position:absolute;">
<div class="row col-2 text-danger font-weight-bold kontakt-name" style="margin-left:77%;top:200px;font-size:20px;" id="kontakt-name">Kontakt</div>
<div class="row col-2 rounded p-5 kontakt-up" id="kontakt" style="margin-left:79%;top:200px;">
	<i class="fa fa-user" style="font-size:15px; color:white"></i>&nbsp;&nbsp;<span th:text="${car.getName2()}"></span><br>
	<a th:href="'tel:+48' + ${car.phone}" class="text-white">	<i class="fa fa-phone" style="font-size:15px;color:	#7FFF00;"></i>&nbsp;&nbsp;<span th:text="${car.getPhoneString()}"></span></a><br>
	<i class="fa fa-map-marker text-white"  style="font-size:13px;"></i>&nbsp;&nbsp;<span th:text="${car.city}"></span>
</div>
<div class="row col-2 kontakt-up" id="mapka" style="margin-left:79%;top:200px;">
				<iframe
  width="100%" height="300px" frameborder="0" style="border:0" id="mapeczka2">
</iframe>
	</div>
	
</div>

<div class="container" id="car">


	<div class="row">
	
			<div class="col-10 mx-auto rounded filter-pane bg-white border text-danger">
				<span class="h3 font-weight-bold	cena" th:text="${car.price} + ' PLN'" id="cenka" ></span>
		</div>
	</div>
	<div class="row">
		<div class="col-10 mx-auto rounded filter-pane" style="margin-top:5%;">
				<span th:text="${car.mark} + ' ' + ${car.model}" class="advertisement-shortcut text-white"></span>
		</div>
		
	</div>
		
			<div class="row col-10 mx-auto bg-light rounded result-pane ">
				
					<div class="tz-gallery">
						<div class="row">
		
							<div th:each="image : ${photos}">
								<div th:switch="${car.isFirstPhoto(image)}">
									<div th:case="${true}">
									
									<div class="col">
	                				<a class="lightbox" th:href="@{${'~/resources/' + image}}">
	                  					<img class="img-fluid rounded" th:src="@{${'~/resources/' + image}}">
	               					</a>
	            				</div>
	            				
									</div>
								
									<div th:case="${false}">
									
										<div class="col" style="display:none;">
	                				<a class="lightbox" th:href="@{${'~/resources/' + image}}">
	                  					<img class="img-fluid rounded" th:src="@{${'~/resources/' + image}}">
	               					</a>
	            				</div>	
									
									</div>
								</div>
					            
									
						</div>
						
				</div>
			</div>
			
			</div>
		
		
		<div class="row col-10 mx-auto bg-light rounded result-pane" style="font-size:13px;">	
			
		<div class="col-lg-2 col-md-5 col-6 detail pb-3">
			Rok produkcji
		</div>
		<div class="col-lg-2 col-md-5 col-6 pb-3">
			<span th:text="${car.prodYear}"></span>
		</div>
		
		<div class="col-lg-2 col-md-5 col-6 detail pb-3">
			Przebieg
		</div>
		<div class="col-lg-2 col-md-5 col-6 pb-3">
			<span th:text="${car.mileage} + ' km'"></span>
		</div>
		
		<div class="col-lg-2 col-md-5 col-6 detail pb-3">
			Pojemność skokowa
		</div>
		<div class="col-lg-2 col-md-5 col-6 pb-3" >
			<span th:text="${car.engine} + ' cm3'"></span>
		</div>
		
		<div class="col-lg-2 col-md-5 col-6 detail pb-3">
			Moc
		</div>
		<div class="col-lg-2 col-md-5 col-6 pb-3">
			<span th:text="${car.horsepower} + ' KM'"></span>
		</div>
		
		<div class="col-lg-2 col-md-5 col-6 detail pb-3">
			Rodzaj paliwa
		</div>
		<div class="col-lg-2 col-md-5 col-6 pb-3">
			<span th:text="${car.fuel}"></span>
		</div>
		
		<div class="col-lg-2 col-md-5 col-6 detail pb-3">
			Typ
		</div>
		<div class="col-lg-2 col-md-5 col-6 pb-3">
			<span th:text="${car.type}"></span>
		</div>
		
		<div class="col-lg-2 col-md-5 col-6 detail pb-3">
			Skrzynia biegów
		</div>
		<div class="col-lg-2 col-md-5 col-6 pb-3">
			<span th:text="${car.gearbox}"></span>
		</div>
		
		<div class="col-lg-2 col-md-5 col-6 detail pb-3">
			Napęd	
		</div>
		<div class="col-lg-2 col-md-5 col-6 pb-3">
			<span th:text="${car.drive}"></span>
		</div>
		
		<div class="col-lg-2 col-md-5 col-6 detail pb-3">
			Zarejestrowany w Polsce
		</div>
		<div class="col-lg-2 col-md-5 col-6 pb-3">
			<span th:text="${car.registered} ? 'Tak' : 'Nie'"></span>
		</div>
		
				
		<div class="col-lg-2 col-md-5 col-6 detail pb-3">
			Bezwypadkowy
		</div>
		<div class="col-lg-2 col-md-5 col-6 pb-3">
			<span th:text="${car.uncrashed} ? 'Tak' : 'Nie'"></span>
		</div>
	
	</div>
		
	
			
			<div th:if="${!additionalEq.get(0).isEmpty()}">
		
				<div class="border col-10 mx-auto bg-light rounded result-pane" style="font-size:14px;">
					<span th:each="item : ${additionalEq}">
							<i class="fa fa-check-circle" style="color:#142355">&nbsp;&nbsp;</i><span th:text="${item}"></span>
							<br>
					</span>
				</div>
			</div>
		
			
			

	
	<div class="row">
			
			<div class="border col-10 mx-auto bg-light rounded result-pane" style="font-size:15px;">
			
			<p class="h5 font-weight-leight">Opis</p>
			<p class="ml-4"><span th:text="${car.description}"></span>
		
			</div>
			
	</div>
	
	<div class="row ">
	
		<div class="border col-10 mx-auto bg-light rounded result-pane kontakt-down" style="font-size:17px;">
		<p class="h5 font-weight-leight">Kontakt</p>
		<i class="fa fa-user" style="font-size:17px; color:black"></i>&nbsp;&nbsp;<span th:text="${car.getName2()}"></span><br>
			<a th:href="'tel:+48' + ${car.phone}" class="text-dark">	<i class="fa fa-phone" style="font-size:17px;color:	#7FFF00;"></i>&nbsp;&nbsp;<span th:text="${car.getPhoneString()}"></span></a><br>
			<i class="fa fa-map-marker text-dark"  style="font-size:17px;"></i>&nbsp;&nbsp;<span th:text="${car.city}" id="miasto"></span>
			
			<div style="width: 100%">
			<iframe
  width="100%" height="600px" frameborder="0" style="border:0" id="mapeczka">
</iframe>	
	</div>
	
</div>

	
	
</tr>
		
			<div style="margin-bottom:10%;"></div>
		
	</div>
	

<div class="footer text-center sticky fixed-bottom">gruzidla.pl</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
</div>
</body>
</html>				